# PostgreSQL Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=lab_p
POSTGRES_PORT=5432

# Redis Server
REDIS_PORT=6379

# Backend Settings
# 自定义初始管理员的账号密码
# 若取消 ADMIN_PASSWORD 的注释并配置了密码，则后台启动时将不再随机生成。
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
